.hd50vw{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      max-width:2500px;
      background: url('/../../images/main-background/main002.jpg') no-repeat ;
       -moz-background-size: 110%; /* Firefox 3.6+ */
       -webkit-background-size: 110%; /* Safari 3.1+ и Chrome 4.0+ */
       -o-background-size: 110%; /* Opera 9.6+ */
       -ms-background-size:110%;
      background-size:110%;
       
        height:50vw;
}
.hdRow {
  color:white;
  margin:6vw 15vw 0 0;
  padding:0;
 }
 



.hdRow :first-child{
  font-family: 'Gill Sans MT Ext Condensed';
  font-size:100px;
  margin:0;
}
.hdRow :last-child{
  font-family: 'HarlowSolidItalic';
  letter-spacing:2px;
  font-size:20px;
  margin:0;
  opacity:0.5;
}


.InxBcNews{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin:0 auto;
}

.InxBcContent{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  width:100%;
  margin:0 auto;
}

.InxBcPadd{
  padding: 0.5%;
}

.InxtopNews{
  color:#fff;
  margin: 1% 0 ;
}
.InxtopTxt{
  margin: 1% 0;
}

.InxBCMain{
  border-top: 0.1px solid black;
  border-right: 0.1px solid black;
  border-left: 0.1px solid black;
  
  
  
  margin:0px auto;
  padding: 1%;
}


.bcDark{
  background-color: #111;
}
.bcWhite{
  background-color: #d4d4d4;
}
.bcAbs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

  .bcAbsP{
  line-height: 3;
    font-size: 22px;
    color: #7a7a7a;
    width: 70%;
    text-align: center;
}

.hrBlack{
  background-color: black;
	height: 0.2px;
	width: 100%;
    margin: 0px auto;
}











.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}



@media only screen and (min-width:0px){
  .InxBCMain{
    max-width: 400px;
    text-align: center;
  }
  .InxBcNews{
    flex-direction:column;
  }
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width:768px){
  .hdRow{
    display: none;
  }
}



@media only screen and (min-width:880px){
  .InxBCMain{
    max-width: 700px;
    text-align: left;
    
  }
 
  .InxBcNews{
    flex-direction:row;
  }
}



@media only screen and (min-width:1200px){
  .InxBCMain{
    min-width: 1050px;
  }
}



@media only screen and (min-width:1534px){
  .InxBCMain{
    min-width: 1400px;
  }
}


@media only screen and (min-width:1955px){
  .InxBCMain{
    min-width: 1750px;
  }
}

@media only screen and (min-width:2200px){
  .InxBCMain{
    min-width: 2100px;
  }
}











